@model Employee

@{
    ViewData["Title"] = "view";

}

<h1>View</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="view">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="salary" class="control-label"></label>
                <input asp-for="salary" class="form-control" />
                <span asp-validation-for="salary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <div>
                    @Html.DropDownListFor(model => model.DepartmentId, ViewBag.Department as SelectList, "--Select--")
                </div>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="designation" class="control-label"></label>
                <input asp-for="designation" class="form-control" />
                <span asp-validation-for="designation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="" class="btn btn-primary" asp-action="view" asp-controller="Employee">Submit</button>
                <button type="" class="btn btn-danger" asp-action="delete" asp-controller="Employee">Delete</button>
            </div>
        </form>
    </div>
</div>